body {
    padding-top: 50px;
    padding-bottom: 50px;
}

header {
    background-color: #f8f9fa;
	text-align: center;
}

main {
    padding: 20px;
}

section {
    padding: 20px;
}

footer {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
}
